/*resetCSS*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

header{
  width:100%;
  height:50px;
  background-color:#ff9a4b;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
}

.step-box{
  width:300px;
  padding:10px;
  margin-right:30px;
  background-color:#eee;
  position:relative;
}

.step-box:last-child{
  margin-right:0;
}

.step-img1{
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-img2{
  background-image:url(img/flow02.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-img3{
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
  height:150px;
}

.step-num{
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  background-color:#ff9a4b;
}

.title{
  margin:15px 0 5px 0;

}

footer{
  height:50px;
  width:100%;
  background-color:#aaa;
}

/*メディアクエリ*/
@media screen and (max-width:768px){

main{
  width:100%;
  margin:50px 0;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.step-box{
  width:90%;
  margin-right:0;
  margin-bottom:20px;
}

.step-box:last-child{
  margin-bottom:0;
}

}