/*CSSreset*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


header{
  width:100%;
  height:50px;
  background-color:red;
}

main{
  margin:0 auto;
  width:960px;
  display:flex;
  justify-content:center;

}

.main-visual{
  width:100%;
  height:500px;
  background-color:orange;
}

.sidebar-left,.sidebar-right{
  width:230px;
  height:1400px;
  background-color:palegreen;
}

.main{
  width:500px;
  height:1400px;
  background-color:limegreen;
}

footer{
  width:100%;
  height:100px;
  background-color:blue;
}