/*resetCSS*/
*{
  padding:0;
  margin:0 auto;
  box-sizing:border-box;
}

main{
  width:960px;
}

.list{
  list-style:none;
  margin:50px 0;
}

.list-item{
  padding:20px;
}

.list-item:nth-child(odd){
  background-color:#eee;
}

.box{
  margin-bottom:50px;
  display:flex;
  flex-wrap:wrap;
}

.box-item{
  width:30%;
  height:200px;
  margin-right:5%;
  margin-bottom:40px;
  background-color:#ffdb00;
}

.box-item:nth-child(1),
.box-item:nth-child(5),
.box-item:nth-child(9){
  background-color:#ff8400;
}

.box-item:nth-child(3n){
  margin-right:0;
}

.box-item:nth-last-child(-n + 3){
  margin-bottom:0;
}